**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.pem
*.key
*.pub
.aws/
credentials
access_keys.csv

*.bak
*.bak*
userdata_runner.sh.tpl.bak*

.DS_Store
Thumbs.db
.vscode/
.history/
*.swp
